.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 700px;
    border: 1px solid royalblue;
}
.btnContainer{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.btn{
    margin-left: 25px;
    color: red;
    padding: 10px;
    border-radius: 5px;
}